@tailwind base;
@tailwind components;
@tailwind utilities;

.gridNew {
    display: grid;  
    /* min-width: 100vw; */
    /* height: 100vh; */
    grid-template-columns: repeat(25, 20px);
    gap: 5px;

}